<form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required [(ngModel)]="newPerson.name"><br>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required [(ngModel)]="newPerson.surname"><br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required [(ngModel)]="newPerson.age"><br>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" required [(ngModel)]="newPerson.city"><br>

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" required [(ngModel)]="newPerson.phone"><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required [(ngModel)]="newPerson.email"><br>

    <button type="button" (click)="savePerson()">Submit</button>
</form>
